.DS_Store
.vscode/
# pycharm:
.idea/

# For backend (Python/Django):
# References: github.com/github/gitignore/blob/master/Python.gitignore
backend/.env
backend/.venv/
__pycache__/
*.py[cod]
backend/db.sqlite3