.DS_Store
.vscode/
# pycharm:
.idea/

########## For backend (Python/Django) ##########
backend/.env
backend/.venv/
__pycache__/
*.py[cod]
backend/db.sqlite3

########## For frontend (JavaScript/React) ##########

# dependencies
frontend/node_modules
frontend/.pnp
frontend/.pnp.js

# testing
frontend/coverage

# production
frontend/build

frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
